NEXT_PUBLIC_URL=http://localhost:3000
DB_HOST=192.168.0.10
DB_PORT=3306
DB_USER=YearProgres
DB_PASSWORD=change-me
DB_NAME=YearProgres
CRON_SECRET=change-me
FB_ACCESS_TOKEN=
FB_PAGE_ID=
TWITTER_APP_KEY=
TWITTER_APP_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=
